<div class="container">
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
    <div class="col-auto">
      <%= f.label :"氏名", class: "form-label" %><br />
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    
  　<div class="col-auto">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :"フリガナ", class: "form-label" %><br />
      <%= f.text_field :last_name_kana, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.text_field :first_name_kana, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :"郵便番号" %>
      <%= f.text_field :postal_code, class: "form-control" %>
    </div>

    <div class="md-3">
      <%= f.label :"住所" %>
      <%= f.text_area :address, class: "form-control" %>
    </div>

    <div class="col-auto">
      <%= f.label :"電話番号" %>
      <%= f.text_field :telephone_number, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>

    <div class="field">
      <%= f.label :"会員ステータス" %>
      <%= f.radio_button :is_deleted, "true" %>
      <%= f.label :is_deleted, "退会", value: true %>

      <%= f.radio_button :is_deleted, "false" %>
      <%= f.label :is_deleted, "有効", value: false %>
    </div>
  <% end %>
</div>

