<%= flash[:error] %>
<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div class="container">
  <div class="md-3">
    <label>名前</label>
    <%= f.label :"(姓)", class: "form-label" %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"(名)", class: "form-label" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="md-3">
    <label>フリガナ</label>
    <%= f.label :"(セイ)", class: "form-label" %><br>
    <%= f.text_field :last_name_kana, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"(メイ)", class: "form-label" %>
    <%= f.text_field :first_name_kana, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"メールアドレス", class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"パスワード(6文字以上)", class: "form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"パスワード(確認用)", class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"郵便番号(ハイフンなし)", class: "form-label" %>
    <%= f.text_field :postal_code, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"住所", class: "form-label" %>
    <%= f.text_area :address, class: "form-control" %>
  </div>

  <div class="md-3">
    <%= f.label :"電話番号(ハイフンなし)", class: "form-label" %>
    <%= f.text_field :telephone_number, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-primary" %>
  </div>
<% end %>
<h3>既に登録済みの方は</h3>
<%= link_to "こちら", customer_session_path %>からログインしてください。
</div>
