<!DOCTYPE html>
<html>
  <head>
    <title>Nagano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>test</h1>
    <% if  request.referer&.include?('/admin') %>
      <% if admin_signed_in? %>
      <%# url:/admin 管理者ログイン時  %>
        <%= render '/layouts/admin_header' %>
      <% else %>
      <%# url:/admin 管理者ログアウト時  %>
        <%= render '/layouts/customer_header' %>
      <% end %>
    <% else %>
    <%# url:/ %>
       <%= render '/layouts/customer_header' %>
    <% end %>

  </body>
</html>
    <%= yield %>
